openapi: 3.0.3
info:
  title: PermitPro API
  description: |
    AI-Powered Permit Discovery and Application Platform API

    ## Authentication
    All API requests require authentication using Bearer tokens.
    Include the token in the Authorization header:
    ```
    Authorization: Bearer {your_api_token}
    ```

    ## Rate Limiting
    - Free tier: 10 requests/minute
    - Pro tier: 100 requests/minute
    - Enterprise: Custom limits

    Rate limit headers are included in all responses:
    - `X-RateLimit-Limit`: Maximum requests per window
    - `X-RateLimit-Remaining`: Remaining requests
    - `X-RateLimit-Reset`: Unix timestamp when limit resets

  version: 1.0.0
  contact:
    email: api@permitpro.com
  license:
    name: Proprietary
    url: https://permitpro.com/terms

servers:
  - url: https://api.permitpro.com/v1
    description: Production server
  - url: https://staging-api.permitpro.com/v1
    description: Staging server
  - url: http://localhost:3000/v1
    description: Local development

tags:
  - name: Authentication
    description: User authentication and session management
  - name: Projects
    description: Project creation and management
  - name: Permits
    description: Permit discovery and requirements
  - name: Forms
    description: Form management and auto-fill
  - name: Submissions
    description: Permit application submissions
  - name: Jurisdictions
    description: Jurisdiction data and requirements
  - name: Documents
    description: Document upload and management
  - name: Users
    description: User profile management
  - name: Payments
    description: Payment processing

paths:
  # Authentication Endpoints
  /auth/register:
    post:
      tags:
        - Authentication
      summary: Register new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
                - accountType
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
                password:
                  type: string
                  format: password
                  minLength: 8
                  example: SecurePass123!
                accountType:
                  type: string
                  enum: [homeowner, contractor, enterprise]
                  example: homeowner
                name:
                  type: string
                  example: John Smith
                company:
                  type: string
                  example: BuildCo Construction
      responses:
        '201':
          description: User created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: Email already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /auth/login:
    post:
      tags:
        - Authentication
      summary: Login user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/refresh:
    post:
      tags:
        - Authentication
      summary: Refresh access token
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - refreshToken
              properties:
                refreshToken:
                  type: string
      responses:
        '200':
          description: Token refreshed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # Project Endpoints
  /projects:
    get:
      tags:
        - Projects
      summary: Get all user projects
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, in_progress, submitted, approved, rejected]
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
      responses:
        '200':
          description: Projects retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  projects:
                    type: array
                    items:
                      $ref: '#/components/schemas/Project'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags:
        - Projects
      summary: Create new project
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectCreate'
      responses:
        '201':
          description: Project created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /projects/{projectId}:
    get:
      tags:
        - Projects
      summary: Get project by ID
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: Project retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags:
        - Projects
      summary: Update project
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectUpdate'
      responses:
        '200':
          description: Project updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags:
        - Projects
      summary: Delete project
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      responses:
        '204':
          description: Project deleted
        '404':
          $ref: '#/components/responses/NotFound'

  # Permit Discovery Endpoints
  /permits/discover:
    post:
      tags:
        - Permits
      summary: Discover required permits for a project
      description: |
        Uses AI to analyze the project details and jurisdiction to determine
        all required permits. This is the core permit discovery endpoint.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - projectId
              properties:
                projectId:
                  type: string
                  format: uuid
                  example: 123e4567-e89b-12d3-a456-426614174000
      responses:
        '200':
          description: Permits discovered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermitDiscoveryResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          description: Payment required (upgrade tier)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /permits/{permitId}:
    get:
      tags:
        - Permits
      summary: Get permit details
      security:
        - bearerAuth: []
      parameters:
        - name: permitId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Permit details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Permit'

  # Form Endpoints
  /forms/{formId}/autofill:
    post:
      tags:
        - Forms
      summary: Auto-fill permit form
      description: |
        Uses AI to automatically fill permit form fields based on
        user profile and project data.
      security:
        - bearerAuth: []
      parameters:
        - name: formId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - projectId
              properties:
                projectId:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Form auto-filled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilledForm'
        '402':
          description: Payment required (paid feature)

  # Submission Endpoints
  /submissions:
    post:
      tags:
        - Submissions
      summary: Submit permit application
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmissionCreate'
      responses:
        '201':
          description: Submission created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Submission'

  /submissions/{submissionId}:
    get:
      tags:
        - Submissions
      summary: Get submission status
      security:
        - bearerAuth: []
      parameters:
        - name: submissionId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Submission details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Submission'

  # Jurisdiction Endpoints
  /jurisdictions/resolve:
    post:
      tags:
        - Jurisdictions
      summary: Resolve jurisdiction from address
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - address
              properties:
                address:
                  type: string
                  example: 123 Main St, Austin, TX 78701
      responses:
        '200':
          description: Jurisdiction resolved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Jurisdiction'
        '400':
          description: Invalid address

  # Document Endpoints
  /documents/upload:
    post:
      tags:
        - Documents
      summary: Upload supporting document
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
                - projectId
                - documentType
              properties:
                file:
                  type: string
                  format: binary
                projectId:
                  type: string
                  format: uuid
                documentType:
                  type: string
                  enum: [site_plan, photo, contractor_license, insurance, other]
      responses:
        '201':
          description: Document uploaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'

  # User Endpoints
  /users/me:
    get:
      tags:
        - Users
      summary: Get current user profile
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

    patch:
      tags:
        - Users
      summary: Update user profile
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdate'
      responses:
        '200':
          description: Profile updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

  # Payment Endpoints
  /payments/checkout:
    post:
      tags:
        - Payments
      summary: Create checkout session
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - items
              properties:
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum: [permit_submission, subscription, credit_pack]
                      permitId:
                        type: string
                      planId:
                        type: string
      responses:
        '200':
          description: Checkout session created
          content:
            application/json:
              schema:
                type: object
                properties:
                  sessionId:
                    type: string
                  checkoutUrl:
                    type: string

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    ProjectId:
      name: projectId
      in: path
      required: true
      schema:
        type: string
        format: uuid
      example: 123e4567-e89b-12d3-a456-426614174000

  schemas:
    AuthResponse:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/User'
        accessToken:
          type: string
        refreshToken:
          type: string
        expiresIn:
          type: integer
          example: 3600

    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        name:
          type: string
        accountType:
          type: string
          enum: [homeowner, contractor, enterprise]
        company:
          type: string
        phone:
          type: string
        address:
          $ref: '#/components/schemas/Address'
        subscription:
          $ref: '#/components/schemas/Subscription'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    UserUpdate:
      type: object
      properties:
        name:
          type: string
        phone:
          type: string
        address:
          $ref: '#/components/schemas/Address'

    Address:
      type: object
      properties:
        street:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
        country:
          type: string
          default: USA

    Subscription:
      type: object
      properties:
        plan:
          type: string
          enum: [free, pro, enterprise]
        status:
          type: string
          enum: [active, canceled, past_due]
        currentPeriodEnd:
          type: string
          format: date-time

    Project:
      type: object
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        projectType:
          type: string
          enum: [deck, bathroom, fence, solar, addition, new_construction, other]
        address:
          $ref: '#/components/schemas/Address'
        details:
          type: object
          additionalProperties: true
        status:
          type: string
          enum: [draft, in_progress, submitted, approved, rejected]
        permits:
          type: array
          items:
            $ref: '#/components/schemas/Permit'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    ProjectCreate:
      type: object
      required:
        - name
        - description
        - projectType
        - address
      properties:
        name:
          type: string
          example: Backyard Deck Addition
        description:
          type: string
          example: Building a 12x16 foot deck attached to the back of my house
        projectType:
          type: string
          enum: [deck, bathroom, fence, solar, addition, new_construction, other]
        address:
          $ref: '#/components/schemas/Address'
        details:
          type: object
          example:
            materials: pressure-treated wood
            height: 2
            attached: true

    ProjectUpdate:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        details:
          type: object
        status:
          type: string

    Permit:
      type: object
      properties:
        id:
          type: string
          format: uuid
        permitType:
          type: string
          example: building
        permitName:
          type: string
          example: Building Permit - Deck Construction
        required:
          type: boolean
        fee:
          type: number
          format: decimal
          example: 125.00
        processingTime:
          type: string
          example: 3-5 business days
        forms:
          type: array
          items:
            type: object
            properties:
              formId:
                type: string
              formName:
                type: string
              formUrl:
                type: string
        buildingCodes:
          type: array
          items:
            $ref: '#/components/schemas/BuildingCode'

    BuildingCode:
      type: object
      properties:
        code:
          type: string
          example: IBC Section R507
        title:
          type: string
          example: Deck Construction Standards
        description:
          type: string
        requirements:
          type: array
          items:
            type: string

    PermitDiscoveryResult:
      type: object
      properties:
        projectId:
          type: string
          format: uuid
        jurisdiction:
          $ref: '#/components/schemas/Jurisdiction'
        permits:
          type: array
          items:
            $ref: '#/components/schemas/Permit'
        totalCost:
          type: number
          format: decimal
        estimatedTimeline:
          type: string
        inspections:
          type: array
          items:
            type: string
        workflow:
          type: object
          properties:
            steps:
              type: array
              items:
                type: object

    Jurisdiction:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
          example: City of Austin
        level:
          type: string
          enum: [city, county, state]
        contactInfo:
          type: object
          properties:
            phone:
              type: string
            email:
              type: string
            website:
              type: string
            address:
              $ref: '#/components/schemas/Address'

    FilledForm:
      type: object
      properties:
        formId:
          type: string
        filledFields:
          type: object
          additionalProperties: true
        confidenceScores:
          type: object
          additionalProperties:
            type: number
            minimum: 0
            maximum: 1
        missingFields:
          type: array
          items:
            type: object
            properties:
              fieldName:
                type: string
              label:
                type: string
              helpText:
                type: string
        validationResults:
          type: object
          properties:
            valid:
              type: boolean
            errors:
              type: array
              items:
                type: string
            warnings:
              type: array
              items:
                type: string

    SubmissionCreate:
      type: object
      required:
        - projectId
        - permitId
        - formData
      properties:
        projectId:
          type: string
          format: uuid
        permitId:
          type: string
          format: uuid
        formData:
          type: object
        documents:
          type: array
          items:
            type: string
            format: uuid

    Submission:
      type: object
      properties:
        id:
          type: string
          format: uuid
        projectId:
          type: string
          format: uuid
        permitId:
          type: string
          format: uuid
        status:
          type: string
          enum: [pending, submitted, under_review, approved, rejected, more_info_needed]
        trackingNumber:
          type: string
        submittedAt:
          type: string
          format: date-time
        statusUpdates:
          type: array
          items:
            type: object
            properties:
              timestamp:
                type: string
                format: date-time
              status:
                type: string
              message:
                type: string

    Document:
      type: object
      properties:
        id:
          type: string
          format: uuid
        projectId:
          type: string
          format: uuid
        fileName:
          type: string
        fileType:
          type: string
        fileSize:
          type: integer
        documentType:
          type: string
        url:
          type: string
        uploadedAt:
          type: string
          format: date-time

    Pagination:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        pages:
          type: integer

    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: object

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
